<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <app-top-menu-nav></app-top-menu-nav>
  <app-toaster></app-toaster>
  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <!-- Navbar Search -->
    <li class="nav-item">
      <app-top-menu-search></app-top-menu-search>
    </li>
    <!-- Messages Dropdown Menu -->
    <li class="nav-item dropdown">
      <app-top-menu-messages></app-top-menu-messages>
    </li>
    <!-- Notifications Dropdown Menu -->
    <li class="nav-item dropdown">
      <app-top-menu-notifications></app-top-menu-notifications>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-widget="fullscreen"
        (click)="$event.preventDefault()"
        href="#"
        role="button"
      >
        <span class="fas fa-expand-arrows-alt"></span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        data-widget="control-sidebar"
        data-slide="true"
        href="#"
        role="button"
      >
        <span class="fas fa-th-large"></span>
      </a>
    </li>
  </ul>
</nav>
<!-- /.navbar -->
