<!-- general form elements -->
<div class="card card-secondary">
  <div class="card-header">
    <h3 class="card-title">Toast Messages</h3>
  </div>
  <!-- /.card-header -->

  <div class="card-body">
    <div class="d-flex justify-content-between">
      <button
        type="button"
        class="btn btn-success"
        (click)="
          toastService.success(
            'Success toast title',
            'This is a Success toast message.'
          )
        "
      >
        Success
      </button>
      <button
        type="button"
        class="btn btn-danger"
        (click)="
          toastService.error(
            'Error toast title',
            'This is a Error toast message.'
          )
        "
      >
        Error
      </button>
      <button
        type="button"
        class="btn btn-warning"
        (click)="
          toastService.warn(
            'Warning toast title',
            'This is a warning toast message.'
          )
        "
      >
        Warning
      </button>
      <button
        type="button"
        class="btn btn-info"
        (click)="
          toastService.info('Info toast title', 'This is a Info toast message.')
        "
      >
        Info
      </button>
    </div>
  </div>
</div>
