<a
  class="nav-link"
  [class.active]="menuItem?.isActive"
  [class.menu-open]="menuItem?.isExpanded"
  [routerLink]="[menuItem.link]"
  (click)="hasChildren() && toggleExpanded(); $event.preventDefault()"
  ><span
    [class]="'fas fa-angle-' + (menuItem?.isExpanded ? 'right' : 'down')"
    *ngIf="hasChildren()"
  >
  </span>
  <span [class]="menuItem.icon + ' fa-fw'"></span>
  <p>
    {{ menuItem.text }}

    <span
      *ngIf="menuItem.badge"
      [class]="'float-end badge ' + menuItem.badgeClass"
      >{{ menuItem.badge }}</span
    >
  </p>
</a>
<app-sidebar-menu-item-list
  [parent]="menuItem"
  [menuItems]="menuItem.children!"
></app-sidebar-menu-item-list>
