#sidebar {
  min-width: 270px;
  max-width: 270px;
  background: #3e64ff;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#sidebar ul li.active > a {
  background: transparent;
  color: #fff;
}

#sidebar ul li a {
  padding: 10px 30px;
  display: block;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  text-decoration: none;
  background-color: transparent;
}

#sidebar ul li a:hover {
  color: yellow;
}
