<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <app-sidebar-logo></app-sidebar-logo>

  <!-- Sidebar -->
  <div class="sidebar">
    <app-sidebar-user-info></app-sidebar-user-info>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input
          class="form-control form-control-sidebar"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <span class="fas fa-search fa-fw"></span>
          </button>
        </div>
      </div>
    </div>

    <app-sidebar-menu-item>rootMenu</app-sidebar-menu-item>
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="#" class="nav-link">
            <span class="nav-icon fas fa-tachometer-alt"></span>
            <p>
              Dashboard
              <span class="right fas fa-angle-left"></span>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="../../index.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Dashboard v1</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../../index2.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Dashboard v2</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../../index3.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Dashboard v3</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="../widgets.html" class="nav-link">
            <span class="nav-icon fas fa-th"></span>
            <p>
              Widgets
              <span class="right badge badge-danger">New</span>
            </p>
          </a>
        </li>
        <li class="nav-item menu-open">
          <a href="#" class="nav-link active">
            <span class="nav-icon fas fa-copy"></span>
            <p>
              Layout Options
              <span class="fas fa-angle-left right"></span>
              <span class="badge badge-info right">6</span>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="../layout/top-nav.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Top Navigation</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../layout/top-nav-sidebar.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Top Navigation + Sidebar</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../layout/boxed.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Boxed</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../layout/fixed-sidebar.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Fixed Sidebar</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../layout/fixed-sidebar-custom.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Fixed Sidebar <small>+ Custom Area</small></p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../layout/fixed-topnav.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Fixed Navbar</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../layout/fixed-footer.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Fixed Footer</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                href="../layout/collapsed-sidebar.html"
                class="nav-link active"
              >
                <span class="far fa-circle nav-icon"></span>
                <p>Collapsed Sidebar</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <span class="nav-icon fas fa-chart-pie"></span>
            <p>
              Charts
              <span class="right fas fa-angle-left"></span>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="../charts/chartjs.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>ChartJS</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../charts/flot.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Flot</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../charts/inline.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Inline</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../charts/uplot.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>uPlot</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <span class="nav-icon fas fa-tree"></span>
            <p>
              UI Elements
              <span class="fas fa-angle-left right"></span>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="../UI/general.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>General</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../UI/icons.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Icons</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../UI/buttons.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Buttons</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../UI/sliders.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Sliders</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../UI/modals.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Modals & Alerts</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../UI/navbar.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Navbar & Tabs</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../UI/timeline.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Timeline</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../UI/ribbons.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Ribbons</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <span class="nav-icon fas fa-edit"></span>
            <p>
              Forms
              <span class="fas fa-angle-left right"></span>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="../forms/general.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>General Elements</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../forms/advanced.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Advanced Elements</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../forms/editors.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Editors</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../forms/validation.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Validation</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <span class="nav-icon fas fa-table"></span>
            <p>
              Tables
              <span class="fas fa-angle-left right"></span>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="../tables/simple.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Simple Tables</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../tables/data.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>DataTables</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../tables/jsgrid.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>jsGrid</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-header">EXAMPLES</li>
        <li class="nav-item">
          <a href="../calendar.html" class="nav-link">
            <span class="nav-icon far fa-calendar-alt"></span>
            <p>
              Calendar
              <span class="badge badge-info right">2</span>
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="../gallery.html" class="nav-link">
            <span class="nav-icon far fa-image"></span>
            <p>Gallery</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="../kanban.html" class="nav-link">
            <span class="nav-icon fas fa-columns"></span>
            <p>Kanban Board</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <span class="nav-icon far fa-envelope"></span>
            <p>
              Mailbox
              <span class="fas fa-angle-left right"></span>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="../mailbox/mailbox.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Inbox</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../mailbox/compose.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Compose</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../mailbox/read-mail.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Read</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <span class="nav-icon fas fa-book"></span>
            <p>
              Pages
              <span class="fas fa-angle-left right"></span>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="../examples/invoice.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Invoice</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../examples/profile.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Profile</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../examples/e-commerce.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>E-commerce</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../examples/projects.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Projects</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../examples/project-add.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Project Add</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../examples/project-edit.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Project Edit</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../examples/project-detail.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Project Detail</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../examples/contacts.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Contacts</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../examples/faq.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>FAQ</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../examples/contact-us.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Contact us</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item menu-open">
          <a href="#" class="nav-link">
            <span class="nav-icon far fa-plus-square"></span>
            <p>
              Extras
              <span class="fas fa-angle-left right"></span>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>
                  Login & Register v1
                  <span class="fas fa-angle-left right"></span>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="../examples/login.html" class="nav-link">
                    <span class="far fa-circle nav-icon"></span>
                    <p>Login v1</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="../examples/register.html" class="nav-link">
                    <span class="far fa-circle nav-icon"></span>
                    <p>Register v1</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="../examples/forgot-password.html" class="nav-link">
                    <span class="far fa-circle nav-icon"></span>
                    <p>Forgot Password v1</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="../examples/recover-password.html" class="nav-link">
                    <span class="far fa-circle nav-icon"></span>
                    <p>Recover Password v1</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>
                  Login & Register v2
                  <span class="fas fa-angle-left right"></span>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="../examples/login-v2.html" class="nav-link">
                    <span class="far fa-circle nav-icon"></span>
                    <p>Login v2</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="../examples/register-v2.html" class="nav-link">
                    <span class="far fa-circle nav-icon"></span>
                    <p>Register v2</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    href="../examples/forgot-password-v2.html"
                    class="nav-link"
                  >
                    <span class="far fa-circle nav-icon"></span>
                    <p>Forgot Password v2</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    href="../examples/recover-password-v2.html"
                    class="nav-link"
                  >
                    <span class="far fa-circle nav-icon"></span>
                    <p>Recover Password v2</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="../examples/lockscreen.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Lockscreen</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../examples/legacy-user-menu.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Legacy User Menu</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../examples/language-menu.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Language Menu</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../examples/404.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Error 404</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../examples/500.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Error 500</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../examples/pace.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Pace</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../examples/blank.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Blank Page</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../../starter.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Starter Page</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <span class="nav-icon fas fa-search"></span>
            <p>
              Search
              <span class="fas fa-angle-left right"></span>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="../search/simple.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Simple Search</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="../search/enhanced.html" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Enhanced</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-header">MISCELLANEOUS</li>
        <li class="nav-item">
          <a href="../../iframe.html" class="nav-link">
            <span class="nav-icon fas fa-ellipsis-h"></span>
            <p>Tabbed IFrame Plugin</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://adminlte.io/docs/3.1/" class="nav-link">
            <span class="nav-icon fas fa-file"></span>
            <p>Documentation</p>
          </a>
        </li>
        <li class="nav-header">MULTI LEVEL EXAMPLE</li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <span class="fas fa-circle nav-icon"></span>
            <p>Level 1</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <span class="nav-icon fas fa-circle"></span>
            <p>
              Level 1
              <span class="right fas fa-angle-left"></span>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Level 2</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>
                  Level 2
                  <span class="right fas fa-angle-left"></span>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <span class="far fa-dot-circle nav-icon"></span>
                    <p>Level 3</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <span class="far fa-dot-circle nav-icon"></span>
                    <p>Level 3</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <span class="far fa-dot-circle nav-icon"></span>
                    <p>Level 3</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <span class="far fa-circle nav-icon"></span>
                <p>Level 2</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <span class="fas fa-circle nav-icon"></span>
            <p>Level 1</p>
          </a>
        </li>
        <li class="nav-header">LABELS</li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <span class="nav-icon far fa-circle text-danger"></span>
            <p class="text">Important</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <span class="nav-icon far fa-circle text-warning"></span>
            <p>Warning</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <span class="nav-icon far fa-circle text-info"></span>
            <p>Informational</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
