<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <app-sidebar-logo></app-sidebar-logo>

  <!-- Sidebar -->
  <div class="sidebar">
    <app-sidebar-user-info></app-sidebar-user-info>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input
          class="form-control form-control-sidebar"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <span class="fas fa-search fa-fw"></span>
          </button>
        </div>
      </div>
    </div>
    <ul
      class="nav nav-pills nav-sidebar flex-column"
      data-widget="treeview"
      role="menu"
      data-accordion="false"
    >
      <app-sidebar-menu-item-list
        [parent]="rootMenu"
        [menuItems]="rootMenu.children!"
      ></app-sidebar-menu-item-list>
    </ul>
  </div>
  <!-- /.sidebar -->
</aside>
<app-toaster></app-toaster>
