<nav id="sidebar" [class.active]="isCollapsed">
  <h1><a href="index.html" class="logo">M.</a></h1>
  <ul class="list-unstyled components mb-5">
    <li>
      <a href="#"><span class="bi bi-house-door-fill"></span> Home</a>
    </li>
    <li>
      <a href="#"><span class="bi bi-person-fill"></span> About</a>
    </li>
    <li>
      <a href="#"><span class="bi bi-sticky-fill"></span> Blog</a>
    </li>
    <li>
      <a href="#"><span class="bi bi-gear-wide-connected"></span> Services</a>
    </li>
    <li>
      <a href="#"><span class="bi bi-person-lines-fill"></span> Contacts</a>
    </li>
  </ul>

  <app-footer></app-footer>
</nav>
